* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E0E8FF;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.order-component {
   width: 27vw;
   height: 80vh;
   border-radius: 15px;
   background: #ffffff;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   font-family:'Red Hat Display', sans-serif;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.order-component h1 {
    font-size: 1.7em;
    color: #001d3d;
    display: block;
    text-align: center;
    margin: 8% 8%;
    
}

.order-component p {
    font-size: 0.9em;
    color: #6c757d;
    display: block;
    text-align: center;
    margin: 8% 8%;
}

.plan {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo info cancel" "logo info2 cancel";
    width: 22vw;
    height: 10vh;
    border-radius: 10px;
    margin: auto;
    background: #f7f9ff;
}


.plan img {
    grid-area: logo;
    margin: auto;
}

.plan h2 {
    grid-area: info;
    font-size: 0.9em;
    margin: auto;
    color: #001d3d;
}

.plan p {
    grid-area: info2;
    font-size: 0.9em;
    margin: auto;

}

.plan a { 
    grid-area: cancel;
    margin: auto;
    color: #382ae1;
    font-size: 0.8em;
    font-weight: 20px;
}

 .proceed h3{
    display: block;
    width: 22vw;
    height: 6vh;
    margin: auto;
    border-radius: 10px;
    background: #382ae1;
    color: #ffffff;
    text-align: center;
}

.cancel h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18vw;
    height: 6vh;
    color:#6c757d;
    text-align: center;
    justify-content: space-around;
}

@media screen and (max-width:480px) {
    .order-component {
        height: 80%;
        width: 90%;  
    }
    h3 {
        font-size: 10vh;
    }
}
.attribution { 
    font-size: 11px; text-align: center; 
    }

.attribution a { 
    color: hsl(228, 45%, 44%);
    }